<div class="task-container">
  <h2>Task history</h2>
  <form class="clearfix" ng-submit="addTask()">
    <div class="form-group">
      <label for="task-item">Enter Task</label>
      <input type="text" id="task-item" class="form-control" ng-model="newTask"/>
      <button type="submit" class="btn pull-right btn-default">{{buttonLabel}}</button>
    </div>
  </form>
  <div class="completed-tasks">
    <ul>
      <li ng-repeat="task in tasks | orderBy:'created_at':true">{{ task.task }}</li>
    </ul>
  </div>
</div>