<div class="row">
  <div class="col-md-4 hidden-xs hidden-sm tasks">
    <h2>Task history</h2>
    <form>
      <div class="form-group">
        <label for="task-item">Enter Task</label>
        <input type="text" id="task-item" class="form-control" />
        <button type="submit" class="btn pull-right btn-default">Add task</button>
      </div>
    </form>
  </div>
  <div class="col-md-8">
    <div class="timer-section">
      <timer work-time="2" break-time="1" long-break-time="3"></timer>
    </div>
  </div>
</div>